@import "@/global/globalStyle";
@function Dub($n) {
  @return $n * 2;
}

.nav_wrap {
  @extend .fontB; //重复利用
  min-height: $md-toolbar-height; //常量

  font-size: Dub(18px);
  // font-size: 18*$bw;
  margin-left: 0;
  margin-right: 15px;
  padding: 10px 0;
  @include bg($primary); //函数
}
